<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleIdentifier</key>
	<string>org.janiskirsteins.twofa</string>
	<key>CFBundleName</key>
	<string>Sqreen&apos;s TwoFa</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>CFBundleVersion</key>
	<string>0.0.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Sqreen Inc. Licensed under the MIT License.</string>
</dict>
</plist>
